@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MuseoModerno", sans-serif;
}

a{
    text-decoration: none;
    color : inherit;
}

.app{
    min-height: 100vh;
    color: white;
    background: linear-gradient(#402dc1, #604b91, #290050);
}