.home{
    padding: 0 px 10 px;
    padding-bottom: 100px;
}

.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero h1{
    font-size: max(4vw, 44px);
}

.hero p{
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}

.hero form{
    display: flex;
    gap: 10px;
    padding: 8px;
    width: 80% ;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

.hero input{
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding-left: 10px;
}

.hero button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background: #7927ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.crypto-table{
    max-width: 800px;
    margin: auto;
    background: linear-gradient(#260659,#23059c6e);
    border-radius: 15px;
    padding: 10px 5px;
}

.table-layout{
    display: grid;
    grid-template-columns:  0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}

.market-cap{
    text-align: right;
}

.table-layout:last-child{
    border-bottom:none;
}

.table-layout div{
    display: flex;
    align-items: center;
    gap: 10px;

}

.table-layout img{
    width: 30px;
}

.table-layout .green{
    color: rgb(0, 255, 38);
    text-align: center;
}
.table-layout .red{
    color: #ff4646;
    text-align: center;
}

@media (max-width: 768px){
    .table-layout{
        grid-template-columns:  0.5fr 3fr 1fr 1fr;
    }
    .market-cap{
        display: none;
    }
    .crypto-table{
        margin: 10px;
    }
}

@media (max-width: 560px){
    .table-layout div img{
       width: 25px;
    }

    .table-layout{
        font-size: 13px;;
    }

    .hero form input{
        width: 100px;
    }
}
@media (max-width: 475px){
    .table-layout{
        grid-template-columns:  0.3fr 2.3fr 1.3fr 1fr;
    }
    .table-layout div img{
       width: 25px;
    }

    .table-layout{
        font-size: 13px;;
    }

    .hero form input{
        width: 100px;
    }
}

@media (max-width: 362px){
    .table-layout{
        grid-template-columns:  0.3fr 2.3fr 1.3fr 1fr;
    }
    .table-layout div img{
       width: 25px;
    }

    .table-layout{
        font-size: 10px;;
    }

    .hero form input{
        width: 100px;
    }
}
@media (max-width: 320px){
    .table-layout{
        grid-template-columns:  0.3fr 2.3fr 1.3fr 1fr;
    }
    .table-layout div img{
       width: 25px;
    }

    .table-layout{
        font-size: 8px;;
    }

    .hero p{
        width: 90%;
    }

    .hero h1{
        font-size: 40px;
    }

    .hero form input{
        width: 100px;
        font-size: 12px;
    }
    .hero button{
        padding: 8px 15px;
        font-size: 10px;
    }
}